%script{:src => "https://checkout.stripe.com/v2/checkout.js",
        :class => "stripe-button",
        :'data-label' => number_to_currency(quiz.total_cost),
        :'data-amount' => quiz.total_cost * 100,
        :'data-key' => Rails.configuration.stripe[:publishable_key]}
= form_tag purchase_quiz_path(quiz) do end
