/ .key
/   #difficulty
/     =image_tag('stairs.svg')
/   #rating
/     =image_tag('star-rating.svg')
/   #owner_pic
/     =image_tag('user.svg')
#search-input
  = text_field_tag :search, nil, :placeholder => '        Search', :class => 'search_field'
%br
%br
%br
%br
%br
%br
#quizzes
  = render "quizzes"

