This is the new Quiz page

.row
  .large-5.columns
    =text_field_tag 'name', nil, :placeholder => 'Quiz Name'
    Private
    #private.inline.bton.pub{'data-priv'=>"false"}
      false
.row
  #questions.large-7.columns
  .large-5.columns
    #addquestion.bton
      Add Question
    #questionform
      Question
      =text_field_tag 'question', nil, :placeholder => 'Ask me..'
      Cost
      =text_field_tag 'cost'
      Difficulty
      #difficulty
      #tagform.row
        .columns.large-9
          =text_field_tag 'tags', nil, :placeholder => 'Tags.. Ruby,Javascript'
        .columns.large-2
          =link_to('Add Tags',"#",:class=> 'button inline small', :id=>'add_tag')
      #taglist
        //Render Partial if edit
      #answerform.row
        .columns.large-10
          =text_field_tag 'answer', nil, :placeholder => 'Yes, No, Maybe, Sometimes, NEVER'
        .columns.large-2
          =link_to('Add Answer',"#",:class=> 'button inline small', :id=>'add_answer')
      Correct:
      #correct.inline.bton{'data-correct'=>"false"}
        false
      #answerlist
        //render Partial if Edit
      #createquestion.bton
        Create Question
.row
  .columns.large-8.large-centered
    =link_to('Create Quiz',"#",:id=>'create_quiz')
