#profile_image
  =image_tag(@person.image_file, :id=> 'profile_pic')
  #stats
    .tests_taken.inline
      %p.score 34
      %span.stat Tests Taken
    .high_score.inline
      %p.score 90%
      %span.stat High Score
    .mosttags.inline
      %p.score Ruby
      %span.stat Topic
%br
%br
%br
%br
#bio.inline
  %h1=@auth.name

#test_table
  //=render "test_table"
  Table stuff here
#map
  Map goes here
=link_to('Add Question', "#")

#graph
  graph goes here

