=form_tag '/login', :id =>'login_form' do
    = text_field_tag :email, nil, :id => 'login_email', :placeholder => 'Email', :class=>'inline', :autofocus => true
    = password_field_tag :password, nil, :id => 'login_password', :placeholder => 'Password', :class=>'inline'
    = button_to_function('Cancel', 'app.clear_login()', :class => 'form_buttons form_buttons inline', :id => 'login_cancel', :class => 'cancel_login_button')
    = submit_tag 'Login', :class => 'button radius inline', :class => 'login_button'