#form
.icons
  =image_tag "user.svg"
  =image_tag "pencil.svg"
  =image_tag "paper_airplane.svg"
%h1 Quizr

.row
  .columns.small-3
    .sidebar
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %p Top Quizzes
      %p 1. Ruby Basics
      %p 2. Advanced Python
      %p 3. Javascript Explosion
  .columns.small-9
    .new_quizzes
      %p.new_quizzes_text New Quizzes