@import url(http://fonts.googleapis.com/css?family=Lato:100,300,700,900,100italic,700italic,900italic);

#profile_pic{
  width: 250px;
  height: 250px;
  float: left;
}
#bio{
  height: 200px;
  margin-left: 50px;
}
#stats{
  border: 1px solid #999;
  border-radius: 10px;
  background-color: #999;
  width: 400px;
  float: left;
  margin-left: 50px;
  padding-left: 25px;

  .tests_taken.inline{
    padding-right: 50px;
  }

  .high_score.inline{
    padding-right: 50px;
  }

  .mosttags.inline{
    padding-right: 50px;
    text-align: center;
  }

  .score{
      color: white;
      font-family: 'Lato', sans-serif;
      margin-bottom: 0;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }

  .stat{
    color: white;
    font-family: 'Lato', sans-serif;
  }
}

#map_canvas
{
  width: 50%;
  height: 400px;
  border: 1px solid black;
  margin-bottom: 20px;
}
