@import url(http://fonts.googleapis.com/css?family=Lato:100,300,700,900,100italic,700italic,900italic);

.bton{
  border: 1px blue solid;
  text-align: center;
  height: 30px;
    line-height: 1.5em;
    padding: 4px;
}

.pub{
  width: 30px;
  background: green;
}
div.priv{
  background-color: red;
}


#quizzes a{
  text-decoration: none;
  text-align: center;
}

.quiz_list{
  background-color: #999;
  font-size: 24px;
}
.quiz_data{
  font-size: 24px;
  color: #999;
  background-color: #2a2a2a;
  border-bottom: 1px solid #999;
  text-align: center;
}
.form_underline{
  border-bottom: #999;
}
table{
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  background-color: #2a2a2a !important;
  border: #2a2a2a !important;
  padding-top: 100px;
  width: 900px;
}


// .pricing-table li
// {padding: 0px !important;
// // background: #ddd !important;
// border: 0px !important;
// }


#search-input{
  width: 500px;
  float: right;
}
.search_field{
  background-image:url('search.svg');
  background-position: 2%;
  background-repeat: no-repeat;
  background-size: 15px;
}

#graph{
  width: 500px;
  height: 500px;
}

#quiz{
  // background-color: white;
  padding: 20px;
}
.stripe-button{
  background-color: #2a2a2a;
  margin: 0;
}

.stripe-button-el{
  margin-top: 20px;
}

// *** TABLE TRIAL ***

.pricing-table{
  width: 250px;
  float: left;
  // display: inline;
  // padding-top: 0;
  padding: 5px !important;
  background: #ddd !important;
  border: 0px !important;
  margin: 41px;
}

.pricing-table li{
  padding: 0px !important;
  border: 0px !important;
}

.title.quiz-name{
  font-size: 32px;
  // width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

// .price{
//   float: left;
// }
// .quiz-info{
//   float: left;
// }

table.analytics{
  border: 1px solid #3a3a3a;
  margin-left: 65px;
}
h1.analytics{
 font-family: 'Lato', sans-serif;
 font-weight: 300;
 text-align: center;
 margin-bottom: 0;
}
.analytics-sub{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  color: #eeeeee;
  margin-top: 0;
}
#addquestion{
  background-color: #ff6666;
  border: 1px solid #ff6666;
}
#add-quiz{
  text-align: center;
}
