.bton{
  border: 1px blue solid;
  text-align: center;
  height: 30px;
    line-height: 1.5em;
    padding: 4px;
}

.pub{
  width: 30px;
  background: green;
}
div.priv{
  background-color: red;
}

#addquestion{

}

#graph{
  width: 500px;
  height: 500px;
}