.question{
  font-size: 1.3em;

}
.option{
  border: 1px solid black;
  border-radius: 5px;
  margin: 3px;
  padding: 5px;
  background-color: grey;
}
.selected{
  background-color: yellow;
}
#stest{
  background-color: green;
    border-radius: 2px;
}
#seecorrect{
  border: 1px black solid;
  background-color: green;
}
.correct{
  background-color: green;
}

#stest.submit.bton{
  background-color: #ff6666;
}