<div class="row">
  <div class="large-3 columns">
    <h1><img src="http://placehold.it/400x100&text=Logo" /></h1>
  </div>
  <div class="large-9 columns">
    <ul class="right button-group">
    <li><a href="#" class="button">Browse Quizzes</a></li>
    <li><a href="#" class="button">Find a Developer</a></li>
    <li><a href="#" class="button">Register</a></li>
    <div id='login' class='inline'>
        <li><%= link_to('Login',login_path,:class=> 'button ', :remote=>true)%></li>
    </div>
    </ul>
   </div>
 </div>
 <div id='form'>
 </div>