.row
  .small-3.columns
    .logo
      .logo1 &lt code &gt
      .logo2 &lt /quiz &gt
  .small-9.columns
    %ul.right.button-group
      %li
        =link_to(image_tag("pencil.svg", :size => '50x50'))
        %p Quizzes
      %li
        =link_to(image_tag("find_developer.svg", :size => '50x50'))
        %p Find
        %p Talent
      - if @auth.nil?
        %li
          =link_to(image_tag("new_person.svg", :size => '50x50'), new_person_path, :remote=>true)
          %p Register
        #login.inline
        %li
          =link_to(image_tag("login.svg", :size => '50x50'), login_path, :remote=>true)
          %p Login
      - else
        %li
          = link_to(image_tag("dashboard.svg", :size => '50x50'), person_path(@auth))
          %p Dashboard
        %li
          =link_to(image_tag("login.svg", :size => '50x50'), login_path, method:"DELETE")
          %p Logout
          / = link_to('Logout', login_path, :class=>'button alert', method:"DELETE")
#pencil_nav